<h1>New reservation created</h1>

<table>
  <tr>
    <td>Reservation time</td>
    <td>:</td>
    <td><%= @reservation.reservation_time %></td>
  </tr>
  <tr>
    <td>No of guests</td>
    <td>:</td>
    <td><%= @reservation.guest_count %></td>
  </tr>
  <tr>
    <td>Reserved table</td>
    <td>:</td>
    <td><%= @reservation.table_name %></td>
  </tr>
</table>
<p>Thanks for choosing us and have a great day!</p>